
.map {
	height: 500px;
}

.map-application {
	height: 100%;
}

.glyphicon.glyphicon-fire.leaflet-control-custom {
	font-size: 2em;
	line-height: 30px !important;
	padding: 0 0.25em;
	display: block;
	cursor: pointer;
	background-color: white;


}
.glyphicon.glyphicon-fire.leaflet-control-custom:hover {
	background-color: #e4e4e4;

}
.glyphicon.glyphicon-fire.leaflet-control-custom:after {
	font-weight: 700;
	font-size: 0.5em;
	content: "Add Incident";
	display: block;
}

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
	width: 100%
}

.modal-body .form-horizontal .control-label {
	text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
	margin-left: 15px;
}
.incidentName {
	font-size: 1.5em;
	font-weight: 700;
}
.editIncident, .deleteIncident {
	cursor: pointer;
	padding: 0.5em;
	height: 2em;
}
.editIncident:hover, .deleteIncident:hover {
	cursor: pointer;
	padding: 0.5em;
	font-weight: 700;
	border-bottom: 1px solid #e4e4e4;
	display: inline-block;
}
.editIncident span, .deleteIncident span {
	margin-left: 0.5em;
}

/*Loading animation*/
@keyframes blink {
	0% {
		opacity: .2;
	}
	20% {
		opacity: 1;
	}
	100% {
		opacity: .2;
	}
}

.loading span {
	animation-name: blink;
	animation-duration: 1.4s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
}
.loading span:nth-child(2) {
	animation-delay: .2s;
}
.loading span:nth-child(3) {
	animation-delay: .4s;
}
.awesome-marker {
	font-size: 3em;
}
.awesome-marker .glyphicon-map-marker {
	z-index: 99999999;
}
.iconKey{
	font-size: 1.5em;
}
.iconKey span{
	margin-left: 1em;
}
.iconKey .glyphicon-fire {
	color: darkred;
}
.iconKey .glyphicon-map-marker {
	color: #083972;
}

/*LIST STYLING*/
.incidents ul {
	padding: 0;
}
.incidents li {
	padding: 0.75em 0 !important;
	list-style-type: none;
	cursor: pointer;
	border-bottom: 1px solid #e4e4e4;
}
.incidents li:hover {
	background-color: #3c3c3c;
	color: white;
}

